@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure dark mode works properly */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
html.dark {
  background-color: #111827; /* Dark mode background */
  color: white;
}

